<div class="form">
  <%= simple_form_for([@customer, @meal_plan]) do |f| %>
    <%= f.error_notification %>

    <%= f.association :products, as: :radio_buttons, collection: Product.where(category_id: Category.where(name: 'Meal Plan').first.id), value_method: :id, include_blank: false, prompt: 'Choose a meal plan', label: 'Select your meal plan:' %>

    <%= f.input :days_per_week, as: :radio_buttons, collection: [ 3, 5 ], label: 'How many days per week would you like your meal plan?' %>



    <%= f.button :submit, class: 'view-plan-btn' %>
  <% end %>
</div>
