<div class="form">
  <%= form_tag customer_customer_plan_extra_items_path(@customer.id), method: :patch %>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity per week</th>
      </tr>
    </thead>
    <tbody>
    <% @extras.each do |extra| %>
      <tr>
        <td><h4><%= extra.name %></h4></td>
        <td><p><%= extra.unit_price %></p></td>
        <td><%= number_field_tag "#{extra.name}", nil %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Submit' %>
</div>
