<%= render 'shared/navbar_general' %>
<div class="ourfood_banner">
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="article-wrapper">
  <div class="text-center padded">
    <% if current_user && current_user.admin? %>
      <%= link_to "Create new post", new_article_path, class: "landing-btn-red" %>
    <% end %>
    <div class="article-cards-grid">
      <%@articles.each do |article| %>
        <% if article.published? %>
        <div class="article-cards">
          <%= link_to cl_image_tag(article.image, width: 300, height: 300, crop: :fill), article_path(article)  %>
          <h4><%= article.title %></h4>
          <p><%= article.description %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


