<%= render 'shared/navbar_general' %>
<div class="articles_banner">
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="article-wrapper">
  <div class="padded">
    <div class="header text-center"><h1>Post an article</h1>
    </div>
    <%= simple_form_for @article do |f|%>
      <%= f.input :title %>
      <%= f.input :date %>
      <%= f.input :description %>
      <%= f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
     %>
      <%= f.input :cover_image %>
      <%= f.input :cover_image_cache, as: :hidden %>
      <%= f.input :published %>
      <div class="text-center"><%= f.button :submit %></div>
    <% end %>
  </div>
</div>

