<div class="form">
  <%= simple_form_for([@customer, @customer_plan]) do |f| %>
    <%= f.error_notification %>

    <%= f.association :meal_plan, as: :radio_buttons, collection: MealPlan.all, label: 'Select your meal plan:' %>

    <%# f.input :days_per_week, as: :radio_buttons, collection: [ 3, 5 ], label: 'How many days per week would you like your meal plan?' %>

    <%= f.input :subscription, as: :radio_buttons, collection: [ 'Yes' , 'No - One week only' ], label: 'Would you like a weekly subscription?' %>

    <%= f.button :submit, class: 'view-plan-btn' %>
  <% end %>
</div>
