<div class="navbar-hakuna-landing navbar-hakuna-fixed">

  <!-- main Navigation -->
  <div class="navbar-hakuna-main-landing hidden-xs hidden-sm hidden-md">

<!-- Navbar menu -->
<!-- Film TV & Fashion link -->
    <h4><%= link_to "FILM, TV, FASHION", root_path(:anchor => "film"), class: "navbar-hakuna-link-landing" %></h4>
    <!-- Meal Plans link -->
    <h4><%= link_to "HOME ECONOMY", root_path(:anchor => "home-eco"), class: "navbar-hakuna-link-landing" %></h4>

    <!-- Logo -->
    <%= link_to root_path, class: "navbar-hakuna-brand-landing" do %>
      <%= image_tag "hakuna-logo-small.png" %>
    <% end %>

    <!-- Our Food link -->
    <h4><%= link_to "OUR FOOD", ourfood_path, class: "navbar-hakuna-link-landing" %></h4>

    <!-- The About link -->
    <h4><%= link_to "ABOUT", ourfood_path(:anchor => "about"), class: "navbar-hakuna-link-landing" %></h4>

    <!-- Blog link -->
    <!-- <h4><%#= link_to "H-LIFE", blog_path, class: "navbar-hakuna-link-landing" %></h4> -->

    <!-- Contact link -->
    <h4><%= link_to "CONTACT", "mailto:info@hakunafoods.co.uk", class: "navbar-hakuna-link-landing" %></h4>

    <% if user_signed_in? %>

      <%= link_to destroy_user_session_path, method: :delete, class: "sign-out" do %>
        <i class="fa fa-power-off" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-hakuna-item hidden-lg">
      <%= link_to root_path, class: "navbar-hakuna-brand-mobile" do %>
        <%= image_tag "hakuna-logo-small.png" %>
      <% end %>
      <div class="dropdown dropdown-toggle-black">
        <a class="fa fa-bars dropdown-toggle" data-toggle="dropdown" href="#"></a>
        <ul class="dropdown-menu dropdown-menu-main .navbar-hakuna-dropdown-menu">
          <li><%= link_to "HOME", root_path, class: "navbar-hakuna-link-landing" %></li>
          <li><%= link_to "FILM, TV, FASHION", root_path(:anchor => "film"), class: "navbar-hakuna-link-landing" %></li>
          <li><%= link_to "HOME ECONOMY", root_path(:anchor => "home-eco"), class: "navbar-hakuna-link-landing" %></li>
           <li><%= link_to "OUR FOOD", ourfood_path, class: "navbar-hakuna-link-landing" %></li>
           <li><%= link_to "ABOUT", ourfood_path(:anchor => "about"), class: "navbar-hakuna-link-landing", id: "about-navbar" %></li>
          <li><%= link_to "H-LIFE", blog_path, class: "navbar-hakuna-link-landing" %></li>
          <!--<li><%= link_to "CONTACT", "mailto:info@hakunafoods.co.uk", class: "navbar-hakuna-link-landing" %></li>-->
          <li><%= link_to "FACEBOOK", "https://www.facebook.com/hakunafoods/", class: "navbar-hakuna-link-landing", target: "blank" %></li>
          <li><%= link_to "INSTAGRAM", "www.instagram.com/hakuna_foods/", class: "navbar-hakuna-link-landing", target: "blank" %></li>
          <li><%= link_to "TWITTER", "https://twitter.com/HakunaFoods", class: "navbar-hakuna-link-landing", target: "blank" %></li>
        </ul>
      </div>
  </div>
</div>


