<%= render 'shared/navbar_general' %>
<div class="order-form-image" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)), url('http://res.cloudinary.com/depgwjsnd/image/upload/v1501592739/hakuna_background_lius2m.jpg');">
  <div class="order-form">
    <div class="back-link">
      <p><i class="fa fa-arrow-left">&nbsp; </i>
        <%= link_to "  Back to homepage", root_path %></p>
      </div>
      <div class="text-center order-form-title">
        <h2>Great, we deliver to your area!</h2>
        <h4>Please enter your details below so we can tailor your plan.</h4>
      </div>
      <%= simple_form_for @customer do |f| %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :gender, required: true, as: :radio_buttons, collection: ['Male', 'Female'] %>
        <%= f.input :dob, required: true, as: :date, :order => [:day, :month, :year], label: 'DOB', start_year: 1945, end_year: 2010 %>
        <%= f.input :allergies, as: :text, label: 'Please let us know of any food allergies or intolerances (we are always dairy, gluten and refined sugar free).' %>
        <%= f.input :preferences, as: :text, label: 'Do you dislike any particular foods?' %>

          <%= f.simple_fields_for @customer.customer_plan do |cpf| %>
            <%= cpf.hidden_field :days_per_week, value: 5 %>
            <%= cpf.association :meal_plan, as: :radio_buttons, collection: MealPlan.all, label: 'Select your meal plan:' %>
            <%= cpf.input :half_package, as: :radio_buttons, collection: [ ['Yes', true] , ['No', false]], label: 'Would you like a half package?' %>
            <%= cpf.input :subscription, as: :radio_buttons, collection: [ ['Yes', true] , ['No - One week only', false]], label: 'Would you like a weekly subscription?' %>

        <% end %>
        <%= f.button :submit, 'Submit details', class: 'view-plan-btn' %>
      <% end %>
  </div>
</div>


