<div class="form">
  <p>Please fill out your details</p>

  <%= simple_form_for @customer do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender, as: :radio_buttons, collection: ['Male', 'Female'] %>
    <%= f.input :dob, as: :date, :order => [:day, :month, :year], label: 'DOB', start_year: 1945, end_year: 2010 %>
    <%= f.input :height, as: :integer, label: 'Height (cm)', placeholder: 'cm' %>
    <%= f.input :weight, as: :integer, label: 'Weight (kg)', placeholder: 'kg' %>
    <%= f.input :exercise, as: :select, collection: ['0 - 2', '2 - 4', '4 - 6', '6+' ], label: 'Exercise (Times per week)' %>
    <%= f.input :occupation %>
    <%= f.input :allergies, as: :text , label: 'Food allergies/intolerances? Do any food groups cause you anaphylactic shock?' %>
    <%= f.input :preferences, as: :text, label: 'Food dislikes? (Max 3)' %>
    <%= f.input :phone, as: :tel %>
    <%= f.button :submit, 'Submit details', class: 'view-plan-btn' %>
  <% end %>
</div>
