<h3>Personal Details:</h3>
<p>Name: <%= @customer.full_name %></p>
<p>Email: <%= @customer.email %></p>
<p><%= @customer.full_name %></p>
<p><%= @customer.full_name %></p>
<p><%= @customer.full_name %></p>
<p><%= @customer.full_name %></p>
<p><%= @customer.full_name %></p>
<p><%= @customer.full_name %></p>
<%= link_to "Edit personal details", edit_customer_path(@customer) %>
<br>
<h3>Order details:</h3>
<%= @customer.customer_plan %>
