<%= render 'shared/navbar_general' %>
<div class="order-form-image" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)), url('http://res.cloudinary.com/depgwjsnd/image/upload/v1493209533/HakunaFoods_landing_image_jgnjha.jpg');">
  <div class="order-form">
    <div class="back-link">
      <p><i class="fa fa-arrow-left">&nbsp; </i>
        <%= link_to "  Back to homepage", root_path %></p>
      </div>
      <div class="text-center order-form-title">
        <h2>Order confirmation</h2>
        <h4>Please check your personal and order details carefully before confirming:</h4>
      </div>
      <div class="order-confirmation-form">
        <h4><strong>Personal Details:</strong></h4>
        <p>Name: <%= @customer.full_name %></p>
        <p>Email: <%= @customer.email %></p>
        <p>Gender: <%= @customer.gender %></p>
        <p>DOB: <%= @customer.formatted_dob %></p>
        <p>Height: <%= @customer.height %>cm</p>
        <p>Weight: <%= @customer.weight %>kg</p>
        <p>Exercise: <%= @customer.exercise %> times per week</p>
        <p>Occupation: <%= @customer.occupation %></p>
        <p>Allergies: <%= @customer.allergies %></p>
        <p>Food dislikes: <%= @customer.preferences %></p>
        <p>Phone: <%= @customer.phone %></p>

        <%= link_to "Edit personal details", edit_customer_path(@customer) %>
        <br>
        <h4><strong>Delivery Address:</strong></h4>
        <p><%= @customer.address.address_line1 %></p>
        <p><%= @customer.address.address_line2 %></p>
        <p><%= @customer.address.address_line3 %></p>
        <p><%= @customer.address.postcode %></p>
        <p>Delivery Instructions: <%= @customer.address.delivery_instructions %></p>
        <%= link_to "Edit delivery address", edit_customer_address_path(@customer) %>
        <br>
        <h4><strong>Order details:</strong></h4>
        <p>Meal Plan: <%= MealPlan.find(@customer.customer_plan.meal_plan_id).name %> - <%= @customer.customer_plan.days_per_week %> days per week.</p>
        <ul>Extras: <% @customer.customer_plan.extra_items.each do |extra| %>
          <% if extra.quantity_per_week != 0 %>
            <li><%= Extra.find(extra.extra_id).name %> - <%= extra.quantity_per_week %> per week</li>
          <% end %>
        <% end %>
        </ul>
        <p><strong><%= @customer.customer_plan.subscription ? "Weekly subscription" : "One week only" %></strong></p>

        <%= link_to "Edit order details", edit_customer_customer_plan_path(@customer, @customer.customer_plan) %>
        <br>
        <%= link_to "Confirm and proceed to checkout", customer_customer_plan_orders_path(@customer, @customer.customer_plan), method: :post, class: 'btn-default btn-order-confirmation' %>
      </div>
    </div>
</div>



