<%= render 'shared/navbar_homepage' %>
<div class="scroll-navbar hidden">
<%= render 'shared/navbar_general'%>
</div>
<div class="banner">
	<div class="banner-content">
		<h2>NUTRITIONAL MEALS PERSONALISED FOR YOU</h2>
		<p>PROVIDING YOU WITH THE CONSISTENCY, NOURISHMENT AND STRUCTURE TO MEET YOUR HEALTH GOALS</p>
	</div>
	<%= link_to "ORDER NOW", "", class: "landing-btn-red" %>
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="icons">
	<div class="icon text-center" id="icon-1">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396159/ChoosePlan_hhsyyv.png" %>
		<p>1. CHOOSE YOUR<br>MEAL PLAN</p>
	</div>
	<div class="icon text-center" id="icon-2">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396196/Tailor_jfrk1a.png" %>
		<p>2. WE TAILOR<br>YOUR NUTRITION</p>
	</div>
	<div class="icon text-center" id="icon-3">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493378724/Delivered_zpiail.png" %>
		<p>3. FRESHLY PREPARED AND<br>DELIVERED STRAIGHT<br>TO YOUR DOOR</p>
	</div>
</div>
<div class="what-we-do text-center">
	<h3>WHAT WE DO?</h3>
	<hr>
	<p>Hakuna Foods delivers personalised meals in line with your nutritional requirements. We believe in the healthy benefits of nutrient rich power foods, fermentation, wild herbs, activated nuts and wholegrains. Combining a vibrant and elegant presentation of flavours, textures and colours, we pump your body full of goodness and let your tastebuds do the talking.<br></br>
	Making healthy food choices can be difficult. We take the hassle away and do the hard work for you.
 	</p>
</div>
<div class="landing-images">
	<div class="landing-image" id="first-landing-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493450676/Berries_iljras.png" %>
	</div>
	
	<div class="landing-image" id="third-landing-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493450675/Tuna_bxe28v.png" %>
	</div>
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="landing-order-now text-center">
	<div class="one-week-programme">
		<h3>ONE WEEK PROGRAMME</h3>
		<p>Eat a HAKUNA meal plan for 5 days</p>
		<%= link_to "ORDER NOW", "", class: "landing-btn-clear" %>
	</div>
	<div class="weekly-subscription">
		<h3>WEEKLY SUBSCRIPTION</h3>
		<p>Enjoy a HAKUNA meals 5 days a week on a rolling basis</p>
		<%= link_to "ORDER NOW", "", class: "landing-btn-clear" %>
	</div>
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="example-menus text-center">
	<h3>EXAMPLE MENUS</h3>
	<hr>
	<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493374913/Asset_4_ibmpqh.jpg" %>
	<div class="menu-scroll">
		<i class="fa fa-angle-left"></i>
		<h4>MEAL NAME</h4>
		<i class="fa fa-angle-right"></i>
	</div>
	<p>Ingredient, ingredient, ingredient</p>
</div>
<div class="choose-plan-btn">
	<%= link_to "CHOOSE YOUR MEAL PLAN", "", class: "landing-btn-red" %>
</div>
<%= render 'shared/footer' %>