<%= render 'shared/navbar_homepage' %>
<div class="scroll-navbar hidden">
<%= render 'shared/navbar_general'%>
</div>
<div class="banner">
	<div class="banner-content">
		<h2>NUTRITIONAL CHEFS FOR FILM, TV AND FASHION</h2>
		<p>ENHANCING WORKING LIVES BOTH ON AND OFF SET</p>
	  <%= link_to "GET IN TOUCH", "mailto:info@hakunafoods.co.uk", class: "landing-btn-red" %>
  	<h5><%= link_to "VIEW OUR FOOD", ourfood_path %></h5>
  <!-- Subscription <h4 class="subscribe"><%= link_to "SUBSCRIBE TO NEWSLETTER", "", class: "newsletter-btn", "data-toggle" => "modal", "data-target" => "#subscriptionModal"%></h4>-->
</div>
</div>
<div class="icons">
	<div class="icon text-center" id="icon-1">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396159/ChoosePlan_hhsyyv.png" %>
	</div>
	<div class="icon text-center" id="icon-2">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396196/Tailor_jfrk1a.png" %>
	</div>
	<div class="icon text-center" id="icon-3">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493378724/Delivered_zpiail.png" %>
	</div>
</div>
<div id="film"></div>
<div class="border"></div>
	<div class="what-we-do text-center">
		<h3>FILM, TV & FASHION</h3>
		<hr>
		<p>Hakuna Foods prepares a nutritionally balanced daily selection of delicious meals to Actors, Models, Musicians, Directors and Producers alike.
		<br></br>
		We use the latest kitchen technology and the freshest, most thoughtfully sourced ingredients, to provide individually tailored meals to enhance our clients working lives both on and off set. Whether it’s bulking up to be a superhero, shredding weight to be a ballet dancer or getting ready for the red carpet, we work closely with nutritionists, personal trainers and directors to achieve their goals and visions.
		<br></br>
		Making and finding the right food choices can be challenging and time consuming, add this to long days of filming with limited access to healthy options and it can be impossible. Hakuna foods is able to take this problem off your hands entirely.
		<br></br>
		Our kitchens are based as close as possible to our clients whether that’s on set, on location, or at a studio. We bring our kitchen to the production and are available for breakfast, lunch,  supper and absolutely anything our clients require whilst filming.
		<br></br>
		Our meals are created to provide the energy and nutrients our bodies require for optimal wellbeing. We focus on incorporating nutrient rich power foods, fermentations, wild herbs, activated nuts and wholegrains into our meals, combining a vibrant and elegant presentation of flavours, textures and colours. Our meals are designed to be eaten on the go, during hair and make up or in between takes. We use environmentally friendly, de-compostable and recycled packaging.
	 	</p>
	 	<div class="landing-images hidden">
		<div class="landing-image slideRight" id="first-landing-image">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493554764/Tuna_daoetr.png" %>
		</div>
		<div class="landing-image slideLeft" id="third-landing-image">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493554569/Berries_p1wmlh.png" %>
		</div>
	</div>
	<div id="home-eco"></div>
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="landing-home-eco text-center">
	<div class="landing-home-eco-text">
		<h3>HOME ECONOMY</h3>
		<hr>
		<p>Asides from cooking for the Top Cast, we provide on screen food for TV and film shoots. We work closely with art departments and production teams to create food in line with each specific brief. We have worked on projects of varying sizes, throughout many eras and differing themes; from canapés in space to medieval banquets!
		<br></br>
		We appreciate that food tells a story, and so conduct thorough research and development to provide the most appropriate food in line with the brief.
		<br></br>
		We are able to work either at a studio or more remotely on location. For further information, please contact us and we would be happy to discuss your requirements in more detail.</p>
	</div>
</div>
<div class="border"></div>
<div class="choose-plan-btn">
	<%= link_to "GET IN TOUCH", "mailto:info@hakunafoods.co.uk", class: "landing-btn-red" %>
</div>
<div class="border"></div>
<div class="instagram-grid">
  <% @popular.data.first(10).each do |popular| %>
      <%= image_tag popular.images.low_resolution.url %>
  <% end %>
</div>
<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Subscribe to Our Newsletter</h5>
      </div>
      <div class="modal-body">
       <%= simple_form_for @newsletter_subscription do |f| %>
          <%= f.input :email %>
      </div>
      <div class="my-modal-footer" style="padding-left:40%;">
          <%= f.submit "Subscribe", class: "small-red-btn" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="logos">
	<%= image_tag "https://res.cloudinary.com/depgwjsnd/image/upload/v1560960110/pixar_disney_twwrzy.png" %>
	<%= image_tag "https://res.cloudinary.com/depgwjsnd/image/upload/v1560959804/warner_fymmev.png" %>
	<%= image_tag "https://res.cloudinary.com/depgwjsnd/image/upload/v1560959804/netflix_vmruia.png" %>
</div>

