<%= render 'shared/navbar_homepage' %>
<div class="scroll-navbar hidden">
<%= render 'shared/navbar_general'%>
</div>
<div class="banner">
	<div class="banner-content">
		<h2>NUTRITIOUS AND DELICIOUS MEALS DELIVERED TO YOU</h2>
		<p>PROVIDING YOU WITH THE CONSISTENCY, NOURISHMENT AND STRUCTURE TO MEET YOUR HEALTH GOALS</p>
	</div>
	<%= link_to "ORDER NOW", "", class: "landing-btn-red" %>
</div>
<div class="icons">
	<div class="icon text-center" id="icon-1">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396159/ChoosePlan_hhsyyv.png" %>
		<p>1. CHOOSE YOUR<br>MEAL PLAN</p>
	</div>
	<div class="icon text-center" id="icon-2">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396196/Tailor_jfrk1a.png" %>
		<p>2. FRESHLY<br>PREPARED MEALS</p>
	</div>
	<div class="icon text-center" id="icon-3">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493378724/Delivered_zpiail.png" %>
		<p>3. DELIVERED STRAIGHT<br>TO YOUR DOOR</p>
	</div>
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="what-we-do text-center">
	<h3>WHAT WE DO?</h3>
	<hr>
	<p>Hakuna Foods prepares, and then delivers, a balanced daily selection of delicious meals and juices, so created to provide the energy and nutrients your body requires for optimal wellbeing.
<br></br>
We offer our clients a collection of meals and juices, designed to meet particular nutritional requirements, which we then deliver to your door in a temperature controlled container.    
<br></br>
We are totally focussed on providing each client with the most appropriate diet to suit their particular  needs, incorporating nutrient rich power foods, fermentations, wild herbs, activated nuts and wholegrains. Combining a vibrant and elegant presentation of flavours, textures and colours, our meals are designed to be eaten at home, in the office or on the go.  
<br></br>
Making healthy food choices can be both complicated and time consuming.  We take the hassle away and do the hard work for you.  
 	</p>
</div>
<div class="landing-images hidden">
	<div class="landing-image slideRight" id="first-landing-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493554764/Tuna_daoetr.png" %>
	</div>
	
	<div class="landing-image slideLeft" id="third-landing-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493554569/Berries_p1wmlh.png" %>
	</div>
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="landing-order-now text-center">
	<div class="one-week-programme">
		<h3>ONE WEEK PROGRAMME</h3>
		<p>Eat a HAKUNA meal plan for 5 days</p>
		<%= link_to "", class: "landing-btn-clear" do %>
  			ORDER NOW  &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
		<% end %>
	</div>
	<div class="weekly-subscription">
		<h3>WEEKLY SUBSCRIPTION</h3>
		<p>Enjoy HAKUNA meals 5 days a week on a rolling basis</p>
		<%= link_to "", class: "landing-btn-clear" do %>
  			ORDER NOW  &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
		<% end %>
	</div>
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="example-menus text-center">
	<h3>EXAMPLE MENUS</h3>
	<hr>
	<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493374913/Asset_4_ibmpqh.jpg" %>
	<div class="menu-scroll">
		<%= link_to "" do %>
  			<i class="fa fa-angle-left"></i>
		<% end %>
		<h4>MEAL NAME</h4>
		<%= link_to "" do %>
  			<i class="fa fa-angle-right"></i>
		<% end %>
	</div>
	<p>Ingredient, ingredient, ingredient</p>
</div>
<div class="choose-plan-btn">
	<%= link_to "CHOOSE YOUR MEAL PLAN", "", class: "landing-btn-red" %>
</div>
<%= render 'shared/footer' %>