<%= render 'shared/navbar_general' %>
<div class="mealplans_banner">
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="icon-large text-center padded">
	<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396159/ChoosePlan_hhsyyv.png" %>
	<h4>1. CHOOSE YOUR MEAL PLAN</h4>
</div>
<div class="meal-plans-section">
	<div class="meal-plans meal-plans-row">
	  <% meal_plan_index = 1 %>
	  <% @meal_plans.each do |meal_plan| %>
		<div class=<%= "meal-plan-#{meal_plan.name.downcase}-box" %>>
			<div class=<%= "meal-plan-#{meal_plan.name.downcase}" %>>
				<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494324592/Burger_and_Chips_ox3jej.jpg" %>
        <%# cl_image_tag meal_plan.photo %>
				<h4><%= meal_plan.name.upcase %></h4>
			</div>
			<div class="meal-plan-description">
				<p><%= meal_plan.description %></p>
				<div class="meal-plan-read-more slideDown hidden" id=<%= "#{meal_plan.name.downcase}" %>>
					<p><%= meal_plan.detailed_description %>
					<br></br>
					<i>From £<%= meal_plan.daily_price %> a day</i></p>
				</div>
        		<button class="small-red-btn" id="view-plan" data-target=<%= "##{meal_plan.name.downcase}" %> data-button=<%= ".book-#{meal_plan.name.downcase}-btn" %>>VIEW PLAN
        		</button>
				<%= link_to orderform_path, class: "book-#{meal_plan.name.downcase}-btn small-red-btn hidden" do %>
					BOOK NOW &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
	    <% meal_plan_index += 1 %>
	    <% case meal_plan_index %>
	    <% when 4 %>
	       </div>
	       <div class="meal-plans meal-plans-row">
	    <% when 7 %>
        </div>
        <div class="meal-plans meal-plans-row">
    <% end %>
    <% end %>
  </div>
</div>

<div class="prepare-section">
	<div class="icon-large text-center padded">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396196/Tailor_jfrk1a.png" %>
		<h4>2. WE EXPERTLY PREPARE YOUR MEALS</h4>
		<p>Using a selection of trusted suppliers who provide the highest quality fresh produce we expertly  create meals and juices that are specifically tailored to your programme requirements.</p>
		<p><%= link_to "LEARN MORE ABOUT OUR FOOD", ourfood_path, class: "small-red-btn" %></p>
	</div>
	<div class="prepare-images">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495016410/miso_v6g0zh.png", class: "prepare-image" %>
	</div>
</div>
<div class="deliver-section">
	<div class="deliver-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495017978/IMG_1027_copy_yyf8jh.jpg", class: "deliver-image" %>
	</div>
	<div class="icon-large icon-deliver text-center padded">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493378724/Delivered_zpiail.png" %>
		<h4>3. WE DELIVER STRAIGHT TO YOUR DOOR</h4>
		<p>Your meals are served in a variety of tamper proof, microwaveable safe, biodegradable containers and delivered within insulated chiller bags with ice packs.

		Deliveries are made between 00.00 – 06.00 either to your work or home in accordance with your delivery instructions.</p>
	</div>
</div>
<div class="choose-plan-btn">
	<%= link_to "ORDER NOW", orderform_path, class: "landing-btn-red" %>
</div>
