<%= render 'shared/navbar_general' %>
<div class="mealplans_banner">
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="icon-large text-center padded">
	<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396159/ChoosePlan_hhsyyv.png" %>
	<h4>1. CHOOSE YOUR MEAL PLAN</h4>
</div>
<div class="meal-plans-section">
	<div class="meal-plans meal-plans-row">
	  <% meal_plan_index = 1 %>
	  <% @meal_plans.each do |meal_plan| %>

		<div class=<%= "meal-plan-#{meal_plan.name.downcase.gsub(" ", "-")}-box" %>>
			<div class=<%= "meal-plan" %>>

				<%= image_tag meal_plan.photo %>
				<h4><%= meal_plan.name.upcase %></h4>
			</div>
			<div class="meal-plan-description">
				<p><%= meal_plan.description %></p>
				<div class="meal-plan-read-more slideDown hidden" id=<%= "#{meal_plan.name.downcase}" %>>
					<p><%= meal_plan.detailed_description %>
					<br></br>
          <% if meal_plan.id == 6 %>
            <i>POA</i></p>
          <% else %>
					  FULL PACKAGE (3 Meals, 2 Snacks + Juice):<br><i>£<%= meal_plan.daily_price %> a day</i><br>
					  HALF PACKAGE (2 Meals + 1 Snack, calories pro-rated):<br><i>£<%= meal_plan.half_daily_price %> a day</i>
					</p>
          <% end %>
				</div>
        		<button class="small-red-btn" id="view-plan" data-target=<%= "##{meal_plan.name.downcase}" %> data-button=<%= ".book-#{meal_plan.name.downcase.gsub(" ", "-")}-btn" %>>VIEW PLAN
        		</button>
				<%= link_to orderform_path, class: "book-#{meal_plan.name.downcase.gsub(" ", "-")}-btn small-red-btn hidden" do %>
					BOOK NOW &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
	    <% meal_plan_index += 1 %>
	    <% case meal_plan_index %>
	    <% when 4 %>
	       </div>
	       <div class="meal-plans meal-plans-row">
	    <% when 7 %>
        </div>
        <div class="meal-plans meal-plans-row">
    <% end %>
    <% end %>
  </div>
</div>

<div class="prepare-section">
	<div class="icon-large text-center padded">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396196/Tailor_jfrk1a.png" %>
		<h4>2. WE EXPERTLY PREPARE YOUR MEALS</h4>
		<p>Using a selection of trusted suppliers who provide the highest quality fresh produce we expertly  create meals and juices that are specifically tailored to your programme requirements.</p>
		<p><%= link_to "LEARN MORE ABOUT OUR FOOD", ourfood_path, class: "small-red-btn" %></p>
	</div>
	<div class="prepare-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495016410/miso_v6g0zh.png", class: "prepare-image" %>
	</div>
</div>
<div class="deliver-section">
	<div class="deliver-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1498082749/j_vmsagx.jpg", class: "deliver-image" %>
	</div>
	<div class="icon-large icon-deliver text-center padded">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493378724/Delivered_zpiail.png" %>
		<h4>3. WE DELIVER STRAIGHT TO YOUR DOOR</h4>
		<p>Your daily delivery of meals, snacks and juice is made between 00.00 - 06.00 either to your work or home so that it's ready for you in time for breakfast! You don’t need to sign for these, we will leave your chiller bag in a safe place in accordance with your delivery instructions. It will remain cool whilst you sleep and then you can put it in the fridge when you wake up</p>
	</div>
</div>
<div class="choose-plan-btn">
	<%= link_to "ORDER NOW", orderform_path, class: "landing-btn-red" %>
</div>
