<%= render 'shared/navbar_general' %>
<div class="mealplans_banner">
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="icon-large text-center padded">
	<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396159/ChoosePlan_hhsyyv.png" %>
	<h4>1. CHOOSE YOUR MEAL PLAN</h4>
</div>
<div class="meal-plans-section">
	<div class="meal-plans meal-plans-line-one">
		<div class="meal-plan-maintain-box">
			<div class="meal-plan-maintain">
				<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494324592/Burger_and_Chips_ox3jej.jpg" %>
				<h4>MAINTAIN</h4>
			</div>
			<div class="meal-plan-read-more">
				<p>A nourishing plan for maintaining a healthy active lifestyle</p>
				<%= link_to "", class: "view-plan-btn" do %>
					VIEW PLAN &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
		<div class="meal-plan-train-box">
			<div class="meal-plan-train">
				<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494324459/Butternut_Squash_Roasted_Fennel_and_Pumpkin_Seed_Fritatta_bpyqtj.jpg" %>
				<h4>TRAIN</h4>
			</div>
			<div class="meal-plan-read-more">
				<p>A higher protein plan for very active people</p>
				<%= link_to "", class: "view-plan-btn" do %>
					VIEW PLAN &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
		<div class="meal-plan-trim-box">
			<div class="meal-plan-trim">
				<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494323536/Poke_Bowl_sv7bne.jpg" %>
				<h4>TRIM</h4>
			</div>
			<div class="meal-plan-read-more">
				<p>A lower carbohydrate plan to aid towards weight loss</p>
				<%= link_to "", class: "view-plan-btn" do %>
					VIEW PLAN &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
	</div>
	<div class="meal-plans meal-plans-line-two">
		<div class="meal-plan-maintain-box">
			<div class="meal-plan-postnatal">
				<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494324177/Asset_2_zmhv9m_copy_ei27gg.jpg" %>
				<h4>POSTNATAL</h4>
			</div>
			<div class="meal-plan-read-more">
				<p>A healthy, balanced plan to give time, energy and norishment to mums</p>
				<%= link_to "", class: "view-plan-btn" do %>
					VIEW PLAN &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
		<div class="meal-plan-train-box">
			<div class="meal-plan-vegetarian">
				<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494324321/Green_Alkalising_Soup_hvw9ns.jpg" %>
				<h4>VEGETARIAN AND VEGAN</h4>
			</div>
			<div class="meal-plan-read-more">
				<p>A plant based plan in accordance with one of our other plans</p>
				<%= link_to "", class: "view-plan-btn" do %>
					VIEW PLAN &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
		<div class="meal-plan-trim-box">
			<div class="meal-plan-bespoke">
				<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494323473/Sweetcorn_Fritters_g5ujuj.jpg" %>
				<h4>BESPOKE</h4>
			</div>
			<div class="meal-plan-read-more">
				<p>A personal plan tailored to you. <br>Please email us here</p>
				<%= link_to "", class: "view-plan-btn" do %>
					VIEW PLAN &nbsp;&nbsp;<i class="fa fa-angle-right"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="prepare-section">
	<div class="icon-large text-center padded">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493396196/Tailor_jfrk1a.png" %>
		<h4>2. WE EXPERTLY PREPARE FRESH <br>AND TASTY FOOD</h4>
		<p>We use a selection of trusted suppliers who supply the highest quality produce.</p>
		<br>
		<p>Learn more about our food</p>
	</div>
	<div class="prepare-images">
		<div class="top">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494333664/tomatoes_qulqkq.jpg", class: "prepare-image" %>
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494333862/Chicken_ozgx9e.jpg", class: "prepare-image" %>
		</div>
		<div class="bottom">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494333662/Poke_Bowl_side_o9btpt.jpg", class: "prepare-image" %>
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494333659/Vegetables_epta0n.jpg", class: "prepare-image" %>
		</div>
	</div>
</div>
<div class="deliver-section">
	<div class="deliver-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1494334085/Deliver_rizbba.jpg", class: "deliver-image" %>
	</div>
	<div class="icon-large icon-deliver text-center padded">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493378724/Delivered_zpiail.png" %>
		<h4>3. WE DELIVER STRAIGHT TO YOUR DOOR</h4>
		<p>Your meals are served in a variety of tamper proof, microwaveable safe, biodegradable containers and delivered within insulated chiller bags with ice packs. 

		Deliveries are made between 00.00 – 06.00 either to your work or home in accordance with your delivery instructions.</p>
	</div>
</div>
<div class="choose-plan-btn">
	<%= link_to "ORDER NOW", "", class: "landing-btn-red" %>
</div>