<%= render 'shared/navbar_general' %>

<h3>MAINTAIN</h3>
<%= link_to "VIEW PLAN", order_path, class: "view-plan-btn" %>

<h3>TRAIN</h3>
<%= link_to "VIEW PLAN", order_path, class: "view-plan-btn" %>

<h3>TRIM</h3>
<%= link_to "VIEW PLAN", order_path, class: "view-plan-btn" %>

<h3>POSTNATAL</h3>
<%= link_to "VIEW PLAN", order_path, class: "view-plan-btn" %>

<h3>VEGETARIAN</h3>
<%= link_to "VIEW PLAN", order_path, class: "view-plan-btn" %>

<h3>BESPOKE</h3>
<%= link_to "VIEW PLAN", order_path, class: "view-plan-btn" %>
