<%= render 'shared/navbar_general' %>

<div class="form">
  <span style="color: red;"><%= @error if @error %></span>
  <%= simple_form_for @customer do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, required: true %>
    <%= f.input :postcode, required: true, label: 'Enter the first part of your postcode' %>
    <%= f.button :submit, 'Create Order', class: 'view-plan-btn' %>
  <% end %>
</div>
