<%= render 'shared/navbar_general' %>
<br></br>
<br></br>
<h3>MAINTAIN</h3>
<p>More More info about meal plan bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

<%= link_to "ORDER NOW", orderform_path, class: "view-plan-btn" %>

<h3>TRAIN</h3>
<p>More info about meal plan bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

<%= link_to "ORDER NOW", orderform_path, class: "view-plan-btn" %>

<h3>TRIM</h3>
<p>More info about meal plan bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

<%= link_to "ORDER NOW", orderform_path, class: "view-plan-btn" %>

<h3>POSTNATAL</h3>
<p>More info about meal plan bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

<%= link_to "ORDER NOW", orderform_path, class: "view-plan-btn" %>

<h3>VEGETARIAN</h3>
<p>More info about meal plan bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

<%= link_to "ORDER NOW", orderform_path, class: "view-plan-btn" %>

<h3>BESPOKE</h3>
<p>More info about meal plan bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

<%= link_to "BOOK CONSULTATION", "", class: "view-plan-btn" %>
