<%= render 'shared/navbar_general' %>

<div class="ourfood_banner">
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="our-food text-center">
	<h3>OUR FOOD</h3>
	<hr>
	<p>The HAKUNA meal delivery programme is based on a diet full of fruits, vegetables, whole grains, nuts, legumes and modest intakes of animal and fish products. Our nutritional beliefs are the basis of each and every meal that is delivered to your door. 
 	</p>
</div>
<div class="balanced-diet-section">
	<div class="deliver-image">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495492841/d_l7m1y5.jpg", class: "deliver-image" %>
	</div>
	<div class="icon-large icon-deliver text-center">
		<h4>BALANCED DIET</h4>
		<p>Fat is essential to human wellbeing, it provides energy and makes you feel full. Our bodies require both saturated and unsaturated fats in order to absorb vitamins A, D, E and K.  We make sure to include both fats in your meals: saturated fat, mostly found in animal foods and unsaturated, mostly found in plant foods. The amount of fat in your diet will be calculated and reflected in your food boxes. 
		<br></br> 
		As for our carbohydrates, most of meals contain complex carbohydrates. These do an excellent job of keeping you full and are less fattening because they take longer for our bodies to metabolise them. Most of the carbohydrates in our menus derive from plenty of seeds, green and root vegetables, pseudocereals and grains. This is turn creates dishes which better regulate  your blood sugar levels. </p>
	</div>
</div>
<div class="nutrition-section text-center">
	<h3>NUTRITION</h3>
	<hr>
	<p>HAKUNA is committed to using the freshest ingredients. Our daily deliveries of fish, meat, fruit and vegetables are supplied by a handful of trusted suppliers.  
 	</p>
</div>
<div class="nutrition-images-top">
	<div class="nutrition-box">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_3_hwea6p.png", class: "nutrition-image" %>
		<div class="nutrition-text">
			<h6>MEAT</h6>
			<p>Meat is very rich in protein and contains Vitamin B12, which is not found in most plant foods. We use pasture – raised animals that are free from antibiotics and hormones. We like to use a variety of cuts because they are all nutritious and delicious.
			</p>
		</div>
	</div>
	<div class="nutrition-box">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478870/Rectangle_1_z1kmdn.png", class: "nutrition-image" %>
		<div class="nutrition-text">
			<h6>FISH</h6>
			<p>Fish and seafood is also important in our meal plans, we choose sustainable stock, which are wild and ethically caught.  As well as being a good source of protein, fish, particularly oily varieties contain high levels of Vitamin D which most people are deficient in. 
		</p>
		</div>
	</div>
	<div class="nutrition-box">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_4_qgj1bg.jpg", class: "nutrition-image" %>
		<div class="nutrition-text">
			<h6>DAIRY</h6>
			<p>We use minimal dairy products, choosing nut and coconut milks, oat cream and coconut yoghurt as delicious alternatives. In cases where we do use dairy, we will label this in our box and we can guarantee it will always be full-fat from organic pasture-reared animals.</p>
		</div>
	</div>
	<div class="nutrition-box">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_2_gbkygt.png", class: "nutrition-image" %>
		<div class="nutrition-text">
			<h6>FLAVOURINGS</h6>
			<p>Herbs and spices are the key to vibrant and delectable dishes; we pick most of our herbs from our own garden in Hertfordshire and use fresh spices where possible. When using oil for cooking, coconut is our preference as it has a multitude of health benefits. However, our kitchen is also stocked with nut, seed and olive oils for use in our favourite dressings and sauces. 
			</p>
		</div>
	</div>
</div>
<div class="nutrition-images-bottom">
	<div class="nutrition-box">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495487357/Screen_Shot_2017-05-22_at_19.28.40_jfgbn9.jpg", class: "nutrition-image" %>
		<div class="nutrition-text">
			<h6>GRAINS, PSEUDOCEREALS, NUTS, SEEDS AND LEGUMES</h6>
			<p>The only grains we use in our meals are black, brown and red rice. Other than that we focus on pseudocereals; buckwheat, amaranth and quinoa. These are free from gluten and rich in amino acids.  You will see nuts and seed scattered all over our menus and we like to use legumes as a source of added protein.
			<br></br> 
			All grains, pseudocereals, nuts, seeds and legumes have a natural, protective layer called phytic acid – an anti nutrient that irritates the gut. Although a small amount of phytic acid is healthy, we activate these ingredients by soaking them. This starts the germination process and reduces the amount of phytic acid, which makes their nutrients easier to absorb and digest by your body. 
			</p>
		</div>
	</div>
	<div class="nutrition-box">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495487357/Screen_Shot_2017-05-22_at_19.28.4_bnhozj.jpg", class: "nutrition-image" %>
		<div class="nutrition-text">
			<h6>FRUIT AND VEGETABLES</h6>
			<p>FRUITS AND VEGETABLES
			Fruit and more notably vegetables make up so much of our menus. Vegetables are full of nutrients and are incredibly alkalizing which helps our bodies to function at their best. <br></br>
			We make sure to provide your body with a rainbow of vegetables and fruits, which keeps meals interesting and balanced. We also aim to buy seasonally to ensure you are getting the very best produce. When we have a glut of fruits or vegetables we put them through our HAKUNA fermentation or pickling process. Fermented (or cultured) foods are essential to good health, enhancing immune function and improving digestion. Our homemade cultured vegetables provide your body with a concentrated form of natural probiotics. </p>
		</div>
	</div>
</div>
<div id="about"></div>
<div class="about-intro text-center">
	<h3>ABOUT US</h3>
	<hr>
	<p>We believe that what you put into your body forms the building blocks for the rest of your life. 
 
 	</p>
</div>
<div class="about-section">
	<div class="our-phil text-center">
		<h4>OUR PHILOSOPHY</h4>
		<h5>1. A HAPPIER YOU IS A HEALTHIER YOU</h5>
		<p>It is vital to be healthy both in body and mind, so we focus on foods that make you look and feel amazing. Good mood food is the focus of our menu development and it helps minimise the level of stress inside and outside our bodies.</p>
		<h5>2. DELICIOUS, INNOVATIVE FOOD</h5>
		<p>It is vital to be healthy both in body and mind, so we focus on foods that make you look and feel amazing. Good mood food is the focus of our menu development and it helps minimise the level of stress inside and outside our bodies.</p>
		<h5>3. EAT MORE NOT LESS</h5>
		<p>It is vital to be healthy both in body and mind, so we focus on foods that make you look and feel amazing. Good mood food is the focus of our menu development and it helps minimise the level of stress inside and outside our bodies.</p>
	</div>
	<div class="our-founder text-center">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495480153/Asset_1_ly6isn.png", class: "annabel-img" %>
		<h4>OUR FOUNDER – ANNABEL WRAY</h4>
		<p>Annabel has cooked for some of the world’s most famous celebrities with desired results. Annabel was working in the City when she realised her love for nutritious food and healthy living. The stressed out lives of Londoners was all too familiar in her surroundings.  She became more and more aware of the complexity in people’s lives and the difficulties people have in maintaining healthy lifestyles.
		<br></br>
		Having undertaken a professional cookery course at Leith’s School of Food and Wine, Annabel cooked healthy, delicious food for people around the world.  She learnt the importance of fresh and flavoursome foods, with an emphasis on wild herbs, nuts, seeds, superfoods, fermented foods, whole grains and an abundance of fruit and vegetables. Her dishes bring together a vibrant and elegant presentation of flavours, textures and colours.
		<br></br>
		Alongside Personal Trainers and Nutritional Advisors Annabel has been providing highly bespoke menus for top tier clients within Film, Music, Commerce and Aristocracy for the past few years. With successful 
		aesthetic and nutritional results achieved, she wants to share her knowledge and experience to help you achieve your goals too!</p>
	</div>
</div>
<div class="choose-plan-btn">
	<%= link_to "CHOOSE YOUR MEAL PLAN", orderform_path, class: "landing-btn-red" %>
</div>




