<%= render 'shared/navbar_general' %>

<div class="ourfood_banner">
</div>
<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1493398612/Asset_10_bu1i0y.png", class: "border" %>
<div class="wrapper">
<div class="our-food text-center">
	<h3>OUR FOOD</h3>
	<hr>
	<p>The HAKUNA meal delivery programme is based on a diet full of fruits, vegetables, whole grains, nuts, legumes and modest intakes of animal and fish products. Our nutritional beliefs are the basis of each and every meal that is delivered to your door. All of our meal plans consist of a Cold Press Juice, Breakfast, Morning Snack, Lunch, Afternoon Snack and Supper.
	There is the option to add on:</p>
	<div class="icons our-food-icons">
		<div class="icon text-center" id="icon-1">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/DAIRY_FREE_arstk7.png" %>
			<p>DAIRY FREE</p>
		</div>
		<div class="icon text-center" id="icon-2">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735101/GLUTEN_FREE_eei8dg.png" %>
			<p>GLUTEN FREE</p>
		</div>
		<div class="icon text-center" id="icon-3">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/REFINED_SUGAR_FREE_bxwrt6.png" %>
			<p>REFIINED SUGAR FREE</p>
		</div>
	</div>

	<!-- <div class="extras">
		<div class="extra-para">
			<h5>Kombucha</h5>
			<p>A cure-all that detoxifies your body, aids digestion and reenergizes the mind. When drunk daily, Kombuchas healing properties can lower cholestral, aid weight loss and create an overall sense of well being.</p>
		</div>
		<div class="extra-para middle-extra">
			<h5>Cold Brew Coffee</h5>
			<p>Not willing to give up your daily dose of hot coffee? Try our 24 hour cold brewed alternative made with Monmouth coffee beans and homemade nut milk. Its sweet smooth finish and lower pH level enables your body to better function and heat.</p>
		</div>
		<div class="extra-para">
			<h5>A Sweet Treat</h5>
			<p>If you can’t kick that sugar craving then sign up for our sweet treats. All gluten, dairy and refined sugar free, perfect with a mug of herbal tea!</p>
		</div>
	</div> -->
</div>
<div class="balanced-diet-section">
	<div class="balanced-diet diet text-center">
		<h4>A BALANCED DIET</h4>
		<p>Fat is essential to human wellbeing, it provides energy and makes you feel full. Our bodies require both saturated and unsaturated fats in order to absorb vitamins A, D, E and K.  We make sure to include both fats in your meals: saturated fat, mostly found in animal foods and unsaturated, mostly found in plant foods. The amount of fat in your diet will be calculated and reflected in your food boxes. 
		<br></br> 
		Most of your meals will contain complex carbohydrates. These do an excellent job of keeping you full and are less fattening because they take longer for our bodies to metabolise them. Most of the carbohydrates in our menus derive from plenty of seeds, green and root vegetables, pseudocereals and grains. Using this knowledge we create meals which aid your body in regulating its blood sugar levels. 
		<br></br>
		Protein is integral to our daily menus as they are the building blocks of life. We need protein in our diet to help repair cells and regenerate new ones. We all require a certain amount of protein to maintain good health, whether in the form or animal or plant protein. Animal proteins include meats, fish and eggs, whilst plant sources include soy, beans, legumes, nut butters and pseudocereals.
		</p>
	</div>
	<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495492841/d_l7m1y5.jpg", class: "diet-image" %>
</div>
<div class="nutrition-section text-center">
	<h3>NUTRITION</h3>
	<hr>
	<p>HAKUNA is committed to using the freshest ingredients. Our daily deliveries of fish, meat, fruit and vegetables are supplied by a handful of trusted suppliers.  
 	</p>
</div>
<div class="icons our-food-icons">
		<div class="icon text-center" id="icon-1">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735101/REDUCES_EXCESS_FAT_io6ard.png" %>
			<p>REDUCES EXCESS FAT</p>
		</div>
		<div class="icon text-center" id="icon-2">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/INCREASES_ENERGY_piu6qi.png" %>
			<p>INCREASES ENERGY</p>
		</div>
		<div class="icon text-center" id="icon-3">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/IMPROVES_IMMUNITY_ff5pgu.png" %>
			<p>IMPROVES IMMUNITY</p>
		</div>
	</div>
	<div class="icons our-food-icons">
		<div class="icon text-center" id="icon-1">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/INCREASES_FOCUS_pcc4yt.png" %>
			<p>INCREASES FOCUS</p>
		</div>
		<div class="icon text-center" id="icon-2">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735101/IMPROVES_SKIN_z3hg8i.png" %>
			<p>IMPROVES SKIN</p>
		</div>
		<div class="icon text-center" id="icon-3">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/REDUCES_BLOAT_ro21rq.png" %>
			<p>REDUCES BLOAT</p>
		</div>
	</div>

<div class="nutrition-images-top">
	<div class="nutrition-box meat-box">
		<!--<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_3_hwea6p.png", class: "nutrition-image" %> -->
		<div class="nutrition-text">
			<h6>MEAT</h6>
			<p>Meat is very rich in protein and contains Vitamin B12, which is not found in most plant foods. We use pasture – raised animals that are free from antibiotics and hormones. We like to use a variety of cuts because they are all nutritious and delicious.
			</p>
		</div>
	</div>
	<div class="nutrition-box fish-box">
		<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478870/Rectangle_1_z1kmdn.png", class: "nutrition-image" %>-->
		<div class="nutrition-text">
			<h6>FISH</h6>
			<p>Fish and seafood is also important in our meal plans, we choose sustainable stock, which are wild and ethically caught.  As well as being a good source of protein, fish, particularly oily varieties contain high levels of Vitamin D which most people are deficient in. 
		</p>
		</div>
	</div>
	<div class="nutrition-box dairy-box">
		<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_4_qgj1bg.jpg", class: "nutrition-image" %>-->
		<div class="nutrition-text">
			<h6>DAIRY</h6>
			<p>We use minimal dairy products, choosing nut and coconut milks, oat cream and coconut yoghurt as delicious alternatives. In cases where we do use dairy, we will label this in our box and we can guarantee it will always be full-fat from organic pasture-reared animals.</p>
		</div>
	</div>
	<div class="nutrition-box flavour-box">
		<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_2_gbkygt.png", class: "nutrition-image" %>-->
		<div class="nutrition-text">
			<h6>FLAVOURINGS</h6>
			<p>Herbs and spices are the key to vibrant and delectable dishes; we pick most of our herbs from our own garden in Hertfordshire and use fresh spices where possible. When using oil for cooking, coconut is our preference as it has a multitude of health benefits. However, our kitchen is also stocked with nut, seed and olive oils for use in our favourite dressings and sauces. 
			</p>
		</div>
	</div>
</div>
<div class="nutrition-images-bottom">
	<div class="nutrition-box grains-box grains-bottom">
		<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495487357/Screen_Shot_2017-05-22_at_19.28.40_jfgbn9.jpg", class: "nutrition-image" %>-->
		<div class="nutrition-text bottom-text">
			<h6>GRAINS, PSEUDOCEREALS, NUTS, SEEDS AND LEGUMES</h6>
			<p>The only grains we use in our meals are black, brown and red rice. Other than that we focus on pseudocereals; buckwheat, amaranth and quinoa. These are free from gluten and rich in amino acids.  You wi ll see nuts and seed scattered all over our menus and we like to use legumes as a source of added protein.
			<br></br> 
			All grains, pseudocereals, nuts, seeds and legumes have a natural, protective layer called phytic acid – an anti nutrient that irritates the gut. Although a small amount of phytic acid is healthy, we activate these ingredients by soaking them. This starts the germination process and reduces the amount of phytic acid, which makes their nutrients easier to absorb and digest by your body. 
			</p>
		</div>
	</div>
	<div class="nutrition-box fruit-box grains-bottom">
		<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495487357/Screen_Shot_2017-05-22_at_19.28.4_bnhozj.jpg", class: "nutrition-image" %>-->
		<div class="nutrition-text bottom-text">
			<h6>FRUIT AND VEGETABLES</h6>
			<p>Fruit and more notably vegetables make up so much of our menus. Vegetables are full of nutrients and are incredibly alkalizing which helps our bodies to function at their best. <br></br>
			We make sure to provide your body with a rainbow of vegetables and fruits, which keeps meals interesting and balanced. We also aim to buy seasonally to ensure you are getting the very best produce. When we have a glut of fruits or vegetables we put them through our HAKUNA fermentation or pickling process. Fermented (or cultured) foods are essential to good health, enhancing immune function and improving digestion. Our homemade cultured vegetables provide your body with a concentrated form of natural probiotics. </p>
		</div>
	</div>
</div>
<div id="about"></div>
<div class="about-intro text-center">
	<h3>ABOUT US</h3>
	<hr>
	<p>Hakuna Foods is founded by Annabel Wray - private chef, nutritional advisor and food consultant.</p>
	<p>We believe that what you put into your body forms the building blocks for the rest of your life. 
 	</p>
</div>
<div class="about-section">
	<div class="our-phil text-center">
		<h4>OUR PHILOSOPHY</h4>
		<h5>1. A HEALTHIER YOU IS A HAPPIER YOU</h5>
		<p>It is vital to be healthy both in body and mind, so we focus on foods that make you look and feel amazing. Good mood food is the focus of our menu development and it helps minimise the level of stress inside and outside our bodies.</p>
		<h5>2. DELICIOUS, INNOVATIVE FOOD</h5>
		<p>We pride ourselves on continuously creating new and exciting dishes that are nutrient dense and always free from gluten, dairy and refined sugars.</p>
		<h5>3. EAT MORE NOT LESS</h5>
		<p>We’re not interested in restricting, dieting or starving. It is important to fuel your body with the correct balance of nutrients. Our focus is on long term, sustainable food choices that will help you feel your absolute best. Always.</p>
	</div>
	<div class="our-founder text-center">
		<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1511964796/annabel_nvirns.png", class: "annabel-img" %>
		<h4>OUR FOUNDER – ANNABEL WRAY</h4>
		<p>Annabel is under no illusion that eating healthily and consistently is easy. She has cooked for some of the world’s greatest actors and crossfit champions to make sure they do just this, fuelling them with high energy, nutrient dense foods in line with their nutritional requirements. Whether her clients want to lose fat, gain muscle, train for a stunt scene or ensure they are performing with ultimate energy, Annabel has fed them all and now she wants to share her knowledge and experience to help you too!
		<br></br>
		For further information on Annabel, please visit her website <%= link_to "www.annabelwray.com", "https://annabelwray.com" %></p>
	</div>
</div>
</div>
<div class="choose-plan-btn">
	<%= link_to "CHOOSE YOUR MEAL PLAN", mealplans_path, class: "landing-btn-red" %>
</div>




