<%= render 'shared/navbar_general' %>

<div class="ourfood_banner">
</div>
<div class="border"></div>
<div class="wrapper">
<div class="our-food text-center">
	<h3>OUR FOOD</h3>
	<hr>
	<p>We use suppliers of the highest quality and focus on organic, ethically sourced produce. Our meal plans are tailored to every individual client with an emphasis on providing a diet full of vegetables, fruits, whole grains, nuts, legumes and modest intakes of meat and fish products. By ensuring the freshest and most seasonal ingredients, we allow the produce to speak for itself, to keep food simple and delicious.</p>
</div>
<div class="nutrition-wrapper">
	<div class="nutrition-section text-center">
		<h3>NUTRITION</h3>
		<hr>
		<p>Our food helps our clients look and feel amazing.</p>
	</div>
	<div class="icons our-food-icons">
		<div class="icon text-center" id="icon-1">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735101/REDUCES_EXCESS_FAT_io6ard.png" %>
			<p>REDUCES EXCESS FAT</p>
		</div>
		<div class="icon text-center" id="icon-2">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/INCREASES_ENERGY_piu6qi.png" %>
			<p>INCREASES ENERGY</p>
		</div>
		<div class="icon text-center" id="icon-3">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/IMPROVES_IMMUNITY_ff5pgu.png" %>
			<p>IMPROVES IMMUNITY</p>
		</div>
	</div>
	<div class="icons our-food-icons">
		<div class="icon text-center" id="icon-1">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/INCREASES_FOCUS_pcc4yt.png" %>
			<p>INCREASES FOCUS</p>
		</div>
		<div class="icon text-center" id="icon-2">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735101/IMPROVES_SKIN_z3hg8i.png" %>
			<p>IMPROVES SKIN</p>
		</div>
		<div class="icon text-center" id="icon-3">
			<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1512735102/REDUCES_BLOAT_ro21rq.png" %>
			<p>REDUCES BLOAT</p>
		</div>
	</div>
	<div class="balanced-diet-section">
		<div class="balanced-diet diet">
			<h4>A BALANCED DIET</h4>
			<p>Protein is integral to our daily menus as they are the building blocks of life. We need protein in our diet to help repair cells and regenerate new ones. We all require a certain amount of protein to maintain good health, whether in the form of animal or plant protein. Animal proteins include meats, fish and eggs, whilst plant sources include soy, beans, legumes, nut butters and pseudocereals.
			<br></br>
			Fat is essential to human wellbeing, it provides energy and makes you feel full. Our bodies require both saturated and unsaturated fats in order to absorb vitamins A, D, E and K.  We make sure to include both types in our meals: saturated fat, mostly found in animal foods and unsaturated, mostly found in plant foods. The amount of fat required in our client's diet will be calculated and reflected in all meals. 
			<br></br>
			Complex carbohydrates do an excellent job of keeping you full and are less fattening because they take longer for our bodies to metabolise than simple carbohydrates. Most of the carbohydrates in our meals derive from green and root vegetables, plenty of seeds, pseudocereals and grains. Using this knowledge and carefully calculated portions, we create meals which aid your body in regulating its blood sugar levels. 
			</p>
		</div>
		<%= image_tag "https://res.cloudinary.com/depgwjsnd/image/upload/v1557933512/About_-_Balanced_Diet_q1wwcj.jpg", class: "diet-image" %>
	</div>

	<div class="nutrition-images-top">
		<div class="nutrition-box meat-box">
			<!--<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_3_hwea6p.png", class: "nutrition-image" %> -->
			<div class="nutrition-text">
				<h6>MEAT</h6>
				<p>Meat is very rich in protein and contains Vitamin B12, which is not found in most plant foods. We use pasture – raised animals that are free from antibiotics and hormones. We like to use a variety of cuts because they are all nutritious and delicious.
				</p>
			</div>
		</div>
		<div class="nutrition-box fish-box">
			<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478870/Rectangle_1_z1kmdn.png", class: "nutrition-image" %>-->
			<div class="nutrition-text">
				<h6>FISH</h6>
				<p>Fish and seafood is also important in our meal plans, we choose sustainable stock, which are wild and ethically caught.  As well as being a good source of protein, fish, particularly oily varieties contain high levels of Vitamin D which many people are deficient in. 
			</p>
			</div>
		</div>
		<div class="nutrition-box dairy-box">
			<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_4_qgj1bg.jpg", class: "nutrition-image" %>-->
			<div class="nutrition-text">
				<h6>DAIRY</h6>
				<p>We use minimal dairy products, choosing nut and coconut milks, oat cream and coconut yoghurt as delicious alternatives. In cases where we do use dairy, we can guarantee it will always be full-fat from organic pasture-reared animals.</p>
			</div>
		</div>
		<div class="nutrition-box flavour-box">
			<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495478869/Rectangle_2_gbkygt.png", class: "nutrition-image" %>-->
			<div class="nutrition-text">
				<h6>FLAVOURINGS</h6>
				<p>Herbs and spices are the key to vibrant and delectable dishes; we pick most of our herbs from our own garden in Hertfordshire and use fresh spices where possible. When using oil for cooking, coconut is our preference as it has a multitude of health benefits. However, our kitchen is also stocked with nut, seed and olive oils for use in our favourite dressings and sauces. 
				</p>
			</div>
		</div>
	</div>
	<div class="nutrition-images-bottom">
		<div class="nutrition-box grains-box grains-bottom">
			<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495487357/Screen_Shot_2017-05-22_at_19.28.40_jfgbn9.jpg", class: "nutrition-image" %>-->
			<div class="nutrition-text bottom-text">
				<h6>GRAINS, PSEUDOCEREALS, NUTS, SEEDS AND LEGUMES</h6>
				<p>We love to use black, brown and red rice in our dishes, as well as buckwheat, amaranth and quinoa. These are free from gluten and rich in amino acids. You will see nuts and seed scattered all over our menus and we like to use legumes as a source of added protein.
				<br></br> 
				All grains, pseudocereals, nuts, seeds and legumes have a natural, protective layer called phytic acid – an anti nutrient that irritates the gut. Although a small amount of phytic acid is healthy, we activate these ingredients by soaking them. This starts the germination process and reduces the amount of phytic acid, which makes their nutrients easier to absorb and digest by your body. 
				</p>
			</div>
		</div>
		<div class="nutrition-box fruit-box grains-bottom">
			<!--<<%= image_tag "http://res.cloudinary.com/depgwjsnd/image/upload/v1495487357/Screen_Shot_2017-05-22_at_19.28.4_bnhozj.jpg", class: "nutrition-image" %>-->
			<div class="nutrition-text bottom-text">
				<h6>FRUIT AND VEGETABLES</h6>
				<p>Fruit and more notably vegetables make up so much of our menus. Vegetables are full of nutrients and are incredibly alkalizing which helps our bodies to function at their best. <br></br>
				We make sure to provide your body with a rainbow of vegetables and fruits, which keeps meals interesting and balanced. We also aim to buy seasonally to ensure you are getting the very best produce. When we have a glut of fruits or vegetables we put them through our HAKUNA fermentation or pickling process. Fermented (or cultured) foods are essential to good health, enhancing immune function and improving digestion. Our homemade cultured vegetables provide your body with a concentrated form of natural probiotics. </p>
			</div>
		</div>
	</div>
</div>
<div id="about"></div>
<div class="about-intro text-center">
	<h3>ABOUT US</h3>
	<hr>
	<p>Hakuna Foods is co-founded by Annabel Wray and Victoria Knight - private chefs, nutritional advisors and food consultants.</p>
	<p>We believe that what you put into your body forms the building blocks for the rest of your life. 
 	</p>
</div>
<div class="about-section">
	<div class="our-phil text-center">
		<h4>OUR PHILOSOPHY</h4>
		<h5>1. A HEALTHIER YOU IS A HAPPIER YOU</h5>
		<p>It is vital to be healthy both in body and mind, so we focus on foods that make you look and feel amazing. Good mood food is the focus of our menu development and it helps minimise the level of stress inside and outside our bodies.</p>
		<h5>2. DELICIOUS, INNOVATIVE FOOD</h5>
		<p>We pride ourselves on continuously creating new and exciting dishes. We love to eat in restaurants all over the world and these experiences have a huge influence in our cooking.</p>
		<h5>3. 80/20 RULE</h5>
		<p>We really believe in treating yourself, and follow the principle of eating very well 80% of the time, whilst allowing more indulgent treats the remaining 20% of the time. Life is for living and for long term sustainability this is really important to us. </p>
	</div>
	<div class="our-founder text-center">
		<%= image_tag "https://res.cloudinary.com/depgwjsnd/image/upload/v1557235441/annabel_hakuna_lqlejk.png", class: "annabel-img" %> 
		<%= image_tag "https://res.cloudinary.com/depgwjsnd/image/upload/v1557235440/victoria_hakuna_rhitvh.png", class: "annabel-img" %> 
		<h4>OUR FOUNDERS</h4>
		<p>Following careers in finance and property, Annabel and Victoria knew they’d found their calling as chefs, when they took the monumental step of leaving their careers to retrain at Leith’s School of Food and Wine. 
		<br></br>
		After being classically trained, they took additional vocations in nutrition to fully understand the science behind the ingredients and provide the best possible service to our clients. 
		<br></br>
		Having worked in the film industry for a number of years gaining valuable experience, we set up Hakuna Foods. We work all over the world cooking for our amazing clients, from Hollywood A listers to professional athletes.  
		<br></br>
		We love our job and are so grateful that we can help talented people achieve their goals and optimal wellbeing. 
	</div>
</div>
</div>
<div class="choose-plan-btn">
	<%= link_to "GET IN TOUCH", "mailto:info@hakunafoods.co.uk", class: "landing-btn-red" %>
</div>




