<p>Hi <%= @customer.first_name %>,
Your order with hakuna has been confirmed.
You have ordered
<% if @customer.customer_plan.subscription %>
a weekly subscription to the
<% else %>
one week of the
<% end %>
 <%= @customer.customer_plan.meal_plan.name %> plan
to <%= @customer.address.address_line1 %>, <%= @customer.address.address_line2 %>, <%= @customer.address.postcode %>.</p>
