<%= render 'shared/navbar_general' %>

<!-- <div class="order-form-image" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)), url('http://res.cloudinary.com/depgwjsnd/image/upload/v1493209533/HakunaFoods_landing_image_jgnjha.jpg');"> -->
  <div class="order-form">
  <%= render 'shared/flashes' %>

    <div class="back-link">
      <p><i class="fa fa-arrow-left">&nbsp; </i>
        <%= link_to "  Back to homepage", root_path %></p>
      </div>
      <div class="text-center order-form-title">
        <h2>Your order</h2>
        <h4></h4>
      </div>
      <div class="order-confirmation">
        <div class="order-customer-details">
          <div class="order-customer">
          <%= form_tag customer_customer_plan_order_payments_path(@customer, @customer_plan, @order) do %>
            <table>
              <tr><td><p>Name:</p></td><td><p><%= @customer.full_name %></p></td></tr>
              <tr><td><p>Email:</p></td><td><p><%= @customer.email %></p></td></tr>
              <tr><td><p>Phone:</p></td><td><p><%= @customer.phone %></p></td></tr>
            </table>
          </div>
          <div class="order-address">
            <h5>Delivery Address:</h5>
            <p><%= @customer.address.address_line1 %></p>
            <p><%= @customer.address.address_line2 %></p>
            <p><%= @customer.address.address_line3 %></p>
            <p><%= @customer.address.postcode %></p>
            <p>Delivery Instructions: <%= @customer.address.delivery_instructions %></p>
            <br>
          </div>
        </div>
        <br>
        <div class="order-details">
          <p>Meal Plan: <%= MealPlan.find(@customer.customer_plan.meal_plan_id).name %> - <%= @customer.customer_plan.days_per_week %> days per week.</p>
          <ul>Extras: <% @customer.customer_plan.extra_items.each do |extra| %>
            <% if extra.quantity_per_week != 0 %>
              <li><%= Extra.find(extra.extra_id).name %> - <%= extra.quantity_per_week %> per week</li>
            <% end %>
          <% end %>
          </ul>
          <p><strong><%= @customer.customer_plan.subscription ? "Weekly subscription" : "One week only" %></strong></p>

          <h3>Total price per week: <span><%= humanized_money_with_symbol(@order.total_price) %></span></h3><% unless @customer.stripe_customer_id %><p><strong>(+£25 one-off refundable deposit for packaging)</strong></p><% end %>

          <p style="margin: 20px 0;">By clicking 'Pay with Card' you are confirming that you have read and agree to our <%= link_to "Terms and Conditions", "", "data-toggle" => "modal", "data-target" => ".bs-modal-lg" %></p>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="<%= @customer.full_name %>"
            data-description="<%= @customer.email %>"
            data-amount="<%= @customer.stripe_customer_id ? @order.total_price_pennies : @order.total_price_pennies + 2500 %>"
            data-currency="gbp"></script>

        </div>
         <% end %>
      </div>
    </div>
<!-- </div> -->

<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      TERMS AND CONDITIONS
    </div>
  </div>
</div>



