<%= render 'shared/navbar_general' %>
<div class="order-form-image" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)), url('http://res.cloudinary.com/depgwjsnd/image/upload/v1501592739/hakuna_background_lius2m.jpg');">
  <div class="order-form">
    <div class="back-link">
      <p><i class="fa fa-arrow-left">&nbsp; </i>
        <%= link_to "  Back to homepage", root_path %></p>
      </div>
      <div class="text-center order-form-title">
        <h2>Delivery details</h2>
        <h4>Please enter delivery address</h4>
      </div>
	     <%= simple_form_for [@customer, @address] do |f| %>
	    <%= f.input :address_line1, label: 'Address Line 1' %>
	    <%= f.input :address_line2, label: 'Address Line 2' %>
	    <%= f.input :address_line3, label: 'Address Line 3' %>
	    <%= f.input :postcode, label: 'Postcode' %>
	    <%= f.input :delivery_instructions, as: :text, label: 'Delivery Instructions' %>
	    <%= f.button :submit, 'Submit', class: 'view-plan-btn' %>
	  <% end %>
  </div>
<!-- </div> -->




