<!DOCTYPE html>
<html>
  <head><%= favicon_link_tag 'Hakuna_favicon.ico' %>
    <title>HAKUNA FOODS | Nutritious and delicious meals delivered to you</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
  <%= render 'shared/footer' %>
</html>
