<!DOCTYPE html>
<html>
  <head><%= favicon_link_tag 'Hakuna_favicon.ico' %>
    <title>HAKUNA FOODS</title>
    <meta property="og:title" content="Hakuna Foods" />
    <meta property="og:description" content="Hakuna Foods prepares, and then delivers, a nutritionally balanced daily selection of delicious meals and juices, created to provide the energy and nutrients your body requires for optimal wellbeing." />
    <meta property="og:image" content="http://res.cloudinary.com/depgwjsnd/image/upload/v1517783957/Hakuna_fvbjgv.png" />
    <meta property="fb:app_id" content="Hakuna Foods" /> 
    <meta property="og:type" content="article" /> 
    <meta property="og:url" content="http://www.hakunafoods.co.uk" /> 
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
  <%= render 'shared/footer' %>
</html>
